// -----------------------------------------------------------------------------
// This file contains all card layout style.
// -----------------------------------------------------------------------------

.card {
  background-color: var(--color-primary-2);
  color: var(--color-white-alpha-2);
  text-align: center;
  border-radius: 0.625rem; // 10px

  &__hero {
    height: 240px;
    background-image: url(../images/image-header-mobile.jpg);
    background-color: var(--color-primary-3);
    background-blend-mode: multiply;
    border-radius: 0.625rem 0.625rem 0 0; // 10px
  }

  &__content {
    padding: 2.688rem 2.125rem 2.188rem; // 43px 34px 35px
  }

  &__title {
    margin-bottom: 1.1rem; // 17.6px
    color: var(--color-white);
    font-size: 1.75rem; // 28px
    line-height: 1.1;
    font-weight: 700;
  }

  &__description {
    margin-bottom: 2.5rem; // 40px
    font-family: var(--secondary-typography);
    font-weight: 400;
    font-size: 0.938rem; // 15px
    line-height: 1.7;
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem; // 28px
  }

  &__item {
  }

  &__item-value {
    color: var(--color-white);
    font-size: 1.5rem; // 24px
    font-weight: 700;
  }

  &__item-heading {
    font-family: var(--secondary-typography);
    font-weight: 400;
    font-size: 0.813rem; // 13px
    text-transform: uppercase;
  }
}
