// -----------------------------------------------------------------------------
// This file contains all plan music component style.
// -----------------------------------------------------------------------------

.plan-music {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem 0;
  background-color: var(--color-secondary-1);
  border-radius: 0.813rem; // 13px

  &__icon {
    max-width: 3rem;
    width: 3rem; // 48px
  }

  &__data {
    flex-basis: 40%;
  }

  &__name {
    color: var(--color-secondary-3);
    font-size: 0.875rem; // 14px
    font-weight: 900;

    @media screen and (min-width: 768px) {
      font-size: 1.063rem; // 17px
    }
  }

  &__price {
    font-size: 0.875rem; // 14px

    @media screen and (min-width: 768px) {
      font-size: 1.063rem; // 17px
    }
  }

  &__link {
    color: var(--color-primary-2);
    text-decoration: underline;
    font-size: 0.813rem; // 13px
    font-weight: 700;
    transition: all 0.2s ease-out;

    &:hover,
    &:active {
      color: var(--color-primary-2-alpha);
      text-decoration: none;
    }

    @media screen and (min-width: 768px) {
      font-size: 0.875rem; // 14px
    }
  }
}
