// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
  .main {
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
    padding: 4.625rem 1.5rem 5.563rem; // 74px 24px 89px
  }