@charset "UTF-8";
:root {
  --color-primary-1: hsl(217, 19%, 35%);
  --color-primary-2: hsl(214, 17%, 51%);
  --color-secondary-1: hsl(212, 23%, 69%);
  --color-secondary-2: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --main-typography: 'Manrope', sans-serif;
}

/**
 * Reset CSS PRO
 * Shamelessly borrowed from Eduardo Fierro:
 * https://github.com/eduardofierropro/Reset-CSS
 */
/*
    
  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web

*/
/* Aquí definimos las Custom properties */
:root {
  --color-primario: #181818;
  --color-secundario: #f0f0f0;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #f0f0f0;
    --color-secundario: #181818;
  }
}

/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
@media (prefers-contrast: high) {
  :root {
    --color-primario: black;
    --color-secundario: white;
  }
}

/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

/* Reseteamos los margin y paddings de todas las etiquetas */
/* Cuidado con el uso del *. Normalmente se se debe de usar en selectores al maquetar. Pero usar alguno para resetear y evitarnos problemas no es mala opción. Tú eliges. */
/* 
  
  Puedes elegir usar: *{}
  
  Puedes elegir usar esto: 
  
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video , button, button{}
  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}
::selection {
  background-color: var(--color-primario);
  color: var(--color-secundario);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: var(--color-secundario);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--main-typography);
  color: var(--color-primary-2);
  background-color: var(--color-secondary-2);
}

.card {
  background-color: var(--color-white);
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
  max-width: 25rem;
  -webkit-box-shadow: 0px 20px 30px -6px rgba(158, 175, 194, 0.37);
          box-shadow: 0px 20px 30px -6px rgba(158, 175, 194, 0.37);
}

.card__img {
  height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 25%;
     object-position: 0% 25%;
}

.card__content {
  padding: 2.313rem 2rem 1.125rem;
}

.card__title {
  font-weight: 700;
  font-size: 1.063rem;
  margin-bottom: 0.75rem;
  text-align: left;
  line-height: 1.4;
  word-spacing: -2px;
  color: var(--color-primary-1);
}

.card__text {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.55;
  padding-right: 5px;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin-bottom: 1.875rem;
}

/* Medias Query */
@media screen and (min-width: 768px) {
  .card {
    max-width: 45.625rem;
    min-height: 17.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: unset;
  }
  .card__img {
    width: 17.813rem;
    height: auto;
    border-radius: 10px 0 0 10px;
  }
  .card__content {
    padding: 2.063rem 2.5rem 1rem;
  }
  .card__title {
    font-size: 1.188rem;
    word-spacing: -2px;
    letter-spacing: 1px;
    line-height: 1.5;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
  .card__text {
    margin-bottom: 1rem;
  }
}

/**
 * Basic Attribution style for frontend challenges
 */
.footer__atribution {
  margin-top: -30px;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
  color: #a6a6a6;
}

.attribution > a {
  display: inline-block;
  color: #3e52a3;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: max-content 1fr max-content;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content;
  -webkit-column-gap: 1.063rem;
          column-gap: 1.063rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1px;
  /* Style to active */
}

.info__author-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  width: 2.375rem;
  height: auto;
  border-radius: 50%;
}

.info__author-name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  font-size: 0.813rem;
  font-weight: 700;
  color: var(--color-primary-1);
}

.info__date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  font-size: 0.813rem;
  font-weight: 500;
}

.info__share {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  width: 1.875rem;
  height: 1.875rem;
  background-color: var(--color-secondary-2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
  /* Style to active */
}

.info__share.active {
  background-color: var(--color-primary-2);
}

.info__share-icon {
  width: 50%;
  height: auto;
}

.info__share.active .info__share-icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  width: 100%;
  height: 4.5rem;
  position: absolute;
  bottom: 0px;
  background-color: var(--color-primary-1);
  padding: 0.5rem 2.063rem 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.share__text {
  font-size: 0.813rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.share__social-img {
  width: 1.25rem;
  height: auto;
  cursor: pointer;
}

.share__arrow {
  display: none;
  height: 20px;
  width: 20px;
  background-color: var(--color-primary-1);
  position: absolute;
  bottom: -10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* To prevent accidental interactions with other elements  */
  pointer-events: none;
}

.share.activated {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* Medias Query */
@media screen and (min-width: 768px) {
  .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 5.938rem;
    right: -4.25rem;
    max-width: 15.5rem;
    height: 3.438rem;
    padding: 0.5rem;
    border-radius: 0.625rem;
  }
  .share__arrow {
    display: block;
  }
}

.main {
  min-height: 100vh;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4.625rem 1.5rem 5.563rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */