// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    font-family: var(--main-typography);
    font-size: 0.938rem;  // 15px
    line-height: 1.4;
  }
  