/**
 * Basic Attribution style for frontend challenges
 */

.attribution {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.688rem;
    text-align: center;
    width: 90%;

  & > a {
    display: inline-block;
    color: hsl(228, 45%, 44%);
  }
}
