// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main {
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  padding: 5.625rem 2rem 4.875rem; // 90px 32px 78px
}

.heading-1 {
  font-size: 1.5rem; // 24px
  font-weight: 200;
  line-height: 1.5;
  color: var(--color-neutral-1);
  margin-bottom: 1.063rem; // 17px
  margin-left: 0.563rem; // 9px
  margin-right: 0.563rem; // 9px

  & span {
    font-weight: 600;
  }
}

.subheading-1 {
  font-size: 0.938rem; // 15px
  line-height: 1.65;
  margin-bottom: 4.75rem; // 76px
  margin-left: 0.563rem; // 9px
  margin-right: 0.563rem; // 9px
}

/* Medias Query */
@media screen and (min-width: 768px) {
  .heading-1 {
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: -3px;
  }

  .subheading-1 {
    text-align: center;
    max-width: 31.563rem; // 505px
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;
  }
}
