// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
  .main {
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
    padding: 5.625rem 2rem 4.875rem; // 90px 32px 78px
  }