// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    font-family: var(--main-typography);
    color: var(--color-neutral-2);
    background-color: var(--color-neutral-3);
  }
  