/**
 * Basic QR card style
 */

.card {
  max-width: 20rem; // 320px
  width: 100%;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 1.25rem; // 20px

  &__img {
    max-width: 18rem; // 288px
    max-height: 18rem; // 288px
    border-radius: 0.625rem; // 10px
  }

  &__title {
    margin: 1.875rem 1.25rem 0; // 30 px 20px
    font-size: 1.344rem; // 21.5px
    font-weight: 700;
    text-align: center;
    color: var(--color-dark-blue);
  }

  &__description {
    margin: 1.25rem 1.25rem 25px; // 20px
    font-weight: 400;
    text-align: center;
    color: var(--color-grayish-blue);
  }
}
