// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    font-family: var(--main-typography);
    font-size: 1rem;
    line-height: 1.4;
    color: var(--color-secondary-2);
  }
  