/**
 * Basic Attribution style for frontend challenges
 */

 .footer__atribution {
  margin-top: -30px;
 }

.attribution {
  font-size: 0.688rem;
  text-align: center;
  color: hsl(0, 0%, 65%);

  & > a {
    display: inline-block;
    color: hsl(228, 45%, 44%);
  }
}
