.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 1.063rem; // 17px
  align-items: center;
  padding: 0 1px;

  &__author-img {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    width: 2.375rem; // 38px
    height: auto;
    border-radius: 50%;
  }

  &__author-name {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    font-size: 0.813rem; // 13px
    font-weight: 700;
  }

  &__date {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    font-size: 0.813rem; // 13px
    font-weight: 500;
  }

  &__share {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;

    width: 1.875rem; // 30px
    height: 1.875rem; // 30px
    background-color: var(--color-secondary-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;

    /* Style to active */
    &.active {
      background-color: var(--color-primary-2);
    }
  }

  &__share-icon {
    width: 50%;
    height: auto;
  }

  /* Style to active */
  &__share.active &__share-icon {
    filter: brightness(0) invert(1);
  }
}

.share {
  display: none;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  height: 4.5rem; // 72px
  position: absolute;
  bottom: 0px;
  background-color: var(--color-primary-1);
  padding: 0.5rem 2.063rem 1rem; // 8px 33px 16px

  &__text {
    font-size: 0.813rem; // 13px
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__social-img {
    width: 1.25rem; // 20px
    height: auto;
    cursor: pointer
  }

  // Style to activated state
  &.activated {
    display: flex;
  }
}
