.card {
  box-shadow: 0px 5px 25px var(--color-secondary-2);
  background-color: var(--color-white);
  border-radius: 1.25rem; // 20px
  padding-bottom: 1.875rem;  // 30px;
  max-width: 20.438rem;  // 327px

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
      max-width: 28.125rem; // 450px
      padding-bottom: 2.938rem;  // 47px
  }

  &__hero {
    border-radius: 1.25rem 1.25rem 0 0; // 20px
    margin-bottom: 2rem;  // 32px

    @media screen and (min-width: 768px) {
        margin-bottom: 2.8rem;  // 44.8px
    }
  }

  &__title {
      margin: 0 1.5rem 1rem;  // 24px
      color: var(--color-secondary-3);
      font-size: 1.375rem;  // 22px
      font-weight: 900;

      @media screen and (min-width: 768px) {
          font-size: 1.75rem;  // 28px
          margin: 0 3rem 1rem;  // 48px
      }
  }

  &__description {
    margin: 0 2.5rem 1.875rem;  // 30px
    font-size: 1rem;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin: 0 5rem 1.875rem;
        font-size: 1.125rem;  // 18px
    }
  }

  &__plan-music {
    margin-bottom: 1.5rem;  // 24px
    width: 85%;

    @media screen and (min-width: 768px) {
        width: 75%;
        margin-bottom: 2.5rem;  // 40px
    }
  }

  &__btn {
      margin-bottom: 1.5rem; // 24px
      width: 85%;

      @media screen and (min-width: 768px) {
        width: 78.67%;
        margin-bottom: 2rem; // 32px
    }
  }

  &__link {
    margin: 0 1.5rem 0;  // 24px
    font-size: 0.938rem;  // 15px
    font-weight: 700;
    transition: color 0.2s ease-out;

    &:hover {
        color: var(--color-secondary-3);
        margin: 0 3rem 0;
    }
  }
}
