/**
 * Basic Attribution style for frontend challenges
 */

 .btn {
     width: 9.063rem;  // 145px
     color: var(--color-primary-1);
     background-color: var(--color-secondary-2);
     padding: 0.688rem;  // 11px
     text-align: center;
     border: 2px solid var(--color-secondary-2);
     border-radius: 2.5rem;  // 40px
     transition: all .2s ease-out;

     &:hover,
     &:active {
        border: 2px solid var(--color-secondary-2);
        background-color: transparent;
        color: var(--color-secondary-2);
     }

     &:active {
         transform: scale(0.98);
     }

     &--c1 {
        color: var(--color-primary-1); 
     }

     &--c2 {
        color: var(--color-primary-2); 
     }

     &--c3 {
        color: var(--color-primary-3); 
     }
 }