// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/pattern-background-mobile.svg), var(--color-primary-1);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5rem;  // 24px

    @media screen and (min-width: 768px) {
      background: url(../images/pattern-background-desktop.svg), var(--color-primary-1);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  